%nav.navbar.navbar-default
  .navbar-container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
      .navbar-brand= link_to "#{current_user.name.capitalize}'s PhotoApp", root_path
    .collapse.navbar-collapse#bs-navbar-collapse-1
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Add New Photo",new_photo_path
        %li
          = link_to "Profile", profile_users_path(:id => current_user.id)
        %li
          = link_to "Susbcribe Others", subscribe_other_users_path
        %li
          = link_to "Sign Out", destroy_user_session_path, :method => :get
        %li
          .polroid
            %img{:alt => "...", :src => current_user.profile_image.url,height: 40,width: 40,style: "border-radius: 50%"}  